body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 20px;
}

h1 {
  color: #6b21a8;
}

form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  padding: 10px;
  border: none;
  background: #7c3aed;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background: white;
}

table th, table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.btn-edit {
  background: #4c1d95;
  padding: 6px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.btn-delete {
  background: #b91c1c;
  padding: 6px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
